body {
    background-color: rgb(216, 226, 228);
    padding: border-box;
}

.mainContent {
    padding-top: 4em;
}

h1 {
    font-family: 'Fruktur', cursive;
    font-family: 'Open Sans', sans-serif;
}

.formArea {
    justify-content: center;
    border-radius: 5px;
    margin: 1.6em;
    box-shadow: -1px 4px 37px 6px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -1px 4px 37px 6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 4px 37px 6px rgba(0, 0, 0, 0.75);
}

.mainArea {
    align-items: center;
}

.introText {
    font-family: 'Fruktur', cursive;
    font-family: 'Nunito', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

img {
    height: 240px;
    width: 240px;
}