{%extends 'base.html'%}

{%block content%}
<div class="content-fluid row bg-dark text-light text-center">
    <h1>TheLibrary</h1>
    <h5>My account</h5>
</div>
<div class="content row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4 text-center">
        <p><b>Available Books</b></p>
        <ul>
        {%for user in books%}
            <li>{{user.email}}</li>
        {%endfor%}
        </ul>
        <hr/>
        <p><b>Borrowed books</b></b>
        <ul>
        {%for bor in borr%}
            <li>{{bor.bookname}}</li>
        {%endfor%}
        </ul>
    </div>
    <div class="col-md-4">
    </div>
</div>
{%endblock%}