{%extends 'base.html'%}
{%block head%}
{{super()}}
<link rel="stylesheet" href="{{url_for('static',filename='styles2.css')}}" type="text/css">
{%endblock%}

{%block content%}
<div class="bodyArea">
<div class="content-fluid row text-center HomeHeader">
    <h1>TheLibrary</h1>
    <h5>My account</h5>
    <p>View available books to borrow from the library</p>
</div>
<div class="content row MainRow">
    <div class="col-md-4">
    </div>
    <div class="col-md-4 text-center MainCol">
        <p><b>Available Books</b></p>
        <ul>
        {%for user in books%}
            <li>{{user.bookname}}</li>
        {%endfor%}
        </ul>
        <hr/>
        <p><b>Borrowed books</b></b>
        <ul>
        {%for bor in borr%}
            <li>{{bor.bookname}}</li>
        {%endfor%}
        </ul>
    </div>
    <div class="col-md-4">
    </div>
</div>
</div>
{%endblock%}