{%extends 'base.html'%}
{%block head%}
{{super ()}}
<link rel="stylesheet" href="{{url_for('static',filename="styles.css")}}" type="text/css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fruktur&family=Open+Sans:wght@600&display=swap" rel="stylesheet"> 

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fruktur&family=Nunito:ital,wght@1,600&family=Open+Sans:wght@600&display=swap" rel="stylesheet"> 
{%endblock%}

{%block content%}
<div class="row mainContent">
    <div class="col-md-7">
        <div class="content mainHeaderArea p-2">
            <h1 class="text-center"><span class="mainHeader">TheLibrary</h1>
        </div>
        <div class="content text-center mainArea p-2">

            <p>
                <span class="introText">Welcome to TheLibrary. The home of knowledge. To continue, register in our system via signing up to use our library services. Login if you have an account.</span>
            </p>
            <img src="{{url_for('static',filename='shelf.png')}}">
        </div>
    </div>
    <div class="content col-md-5">
        {%block formGroup%}
            <div class="content formArea p-3">
                <form class="form-horizontal" method="POST" action="login">
                    <div class="form-group p-2">
                        <label class="control-label col-sm-2" for="email">Email:</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
                        </div>
                    </div>
                    <div class="form-group p-2">
                        <label class="control-label col-sm-2" for="pwd">Password:</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="pwd" name="password" placeholder="Enter password">
                        </div>
                    </div>
                    <div class="form-group p-2">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default btn-primary p-2">continue</button>
                        </div>
                    </div>
                </form> 
            </div> 
        {%endblock%}
    </div>
</div>

{%endblock%}